[submodule "opencpn-libs"]
	path = opencpn-libs
	url = https://github.com/OpenCPN/opencpn-libs.git
	branch = main
[submodule "radar-bridge"]
	path = radar-bridge
	url = https://github.com/deeprey-marine/radar-bridge.git
