[submodule "opencpn-libs"]
	path = opencpn-libs
	url = https://github.com/OpenCPN/opencpn-libs.git
	branch = main
[submodule "RadarBridge"]
	path = RadarBridge
	url = git@github.com:bensasl2/radar-bridge.git
